<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--
This old app should be used with an old studio from this era.
Use VisualStudio 3.5. for example, since this app is for Android 4 to Android 8
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.syt.tmps">
    <uses-feature android:name="android.hardware.usb.host" android:required="true"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.MANAGE_USB"/>

    <application android:allowBackup="true" tools:ignore="GoogleAppIndexingWarning"
        android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name="com.syt.tmps.TpmsApplication">
        <activity android:exported="true" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.tpms.view.TestActivity" android:theme="@style/customtitlebar"/>
        <activity android:exported="true" android:label="@string/app_name" android:launchMode="singleTask"
            android:name="com.tpms.view.TpmsMainActivity" android:theme="@style/customtitlebar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!--
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="www.example.com" />
                <data android:scheme="https" />
            </intent-filter>
            -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/device_filter"/>
        </activity>
        <activity android:launchMode="singleTask" android:name="com.tpms.view.PaireIDActivity" android:theme="@style/customtitlebar"/>
        <activity android:exported="true" android:launchMode="singleTask" android:name="com.tpms.view.SetActivity" android:theme="@style/customtitlebar"/>
        <activity android:launchMode="singleTask" android:name="com.tpms.view.GetSreenInfoActivity" android:theme="@style/customtitlebar"/>
        <receiver android:name="com.syt.tmps.BKReceiver">
            <intent-filter>
                <action android:name="SYS_STD_IN_ACCON_EVENT"/>
                <action android:name="SYS_STD_IN_ACCOFF_EVENT"/>
                <action android:name="SYS_STD_IN_WAKEUP_EVENT"/>
                <action android:name="android.intent.action.SYS_TO_APP_OTHERS"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="MSG_SYS_STD_TPMS_DATA_TEST_RECV"/>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.ACC_EVENT"/>
                <action android:name="android.intent.action.ACTION_USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <service android:name="com.syt.tmps.TpmsService">
            <intent-filter>
                <action android:name="com.tpms.TpmsService"/>
                <action android:name="com.tpms.TpmsService.ok"/>
                <action android:name="com.tpms.TpmsService.error"/>
            </intent-filter>
        </service>
    </application>
</manifest>